<div class="row text-center">
	<div class="col-md-4">
		<h1>To Do</h1>
		<div class="text-left">
		<div class="panel panel-info">
			<div class="panel-heading">Heading</div>
			<div class="panel-body">Content</div>
			<div class="panel-footer">Footer</div>
		</div>
	</div>
</div>
	<div class="col-md-4"><h1>In Progress</h1></div>
	<div class="col-md-4"><h1>Completed</h1></div>
</div>